/*HOMEPAGE*/
.jumbotron {
    margin-top: 200px;
    background-color: #FFFFFF;
}

.jumbotron h1 {
    color: #1DA1F2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 200px;
        padding-left: 200px;
    }
}

/*SEARCH RESULTS*/
body { 
    padding-top: 70px;
}

.navbar-form {
    padding: 0 15px;
    border-top: none;
    border-bottom: none;
}