/*HOMEPAGE*/
.jumbotron {
    background-color: #FFFFFF;
    margin-top: 150px;
}

.jumbotron h1 {
    color: #1DA1F2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding-left: 300px;
        padding-right: 300px;
    }
}

.glyphicon-search {
    color: #1DA1F2;
}

/*SEARCH RESULTS*/
body { 
    padding-top: 50px; /*Add top padding for fixed nav bar*/
}

.navbar-default .navbar-brand {
    color: #1DA1F2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.navbar-form {
    border-bottom: none;
    border-top: none;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .navbar-form .input-group>.form-control {
        width: 600px;
    }
}

.list-inline {
    margin-top: 10px;
}

#right-col {
    background-color: #f5f8fa;
    height: calc(100vh - 50px); /*Extend to bottom of page*/
}
