{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="container">
    <div id="absolute-center">
      <h1>Tweegle</h1>
      <form action="/search" class="form-group">
        <div class="input-group">
          <!-- Resource for invisible label to provide accessibility: http://webaim.org/techniques/forms/advanced -->
          <input class="form-control" id="searchbox" type="search" name="q" aria-label="Search for tweets or people from Twitter" placeholder="Search for tweets or people from Twitter">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div><!-- /.input-group -->
      </form>
    </div>
  </div><!-- /.container -->
{% endblock %}


